@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  padding: 10px 20px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 3vh;
}

h3 {
  padding: 10px 20px;
  font-weight: 300;
  line-height: 1.2;
  font-size: 2vh;
  max-height: 30px;
}

p {
  margin: 10px 0;
}

/* Nav Bar */
.navbar {
  background: #333;
  color: #fff;
  opacity: 0.8;
  height: 6vh;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 10;
}

#navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 a {
  color: #fff;
  padding: 10px 20px;
  font-size: 3vh;
}

.navbar ul a {
  color: #fff;
  padding: 10px 20px;
  font-size: 1.7vh;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li a:hover {
  border-bottom: #b1d0cd 3px solid;
}

/* Showcase */
#showcase {
  background: url("/img/john-towner-JgOeRuGD_Y4-unsplash\ \(1\).jpg") no-repeat
    center center/cover;
  height: 100vh;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  height: 100%;
}

#showcase .showcase-content h1 {
  padding-bottom: 30px;
}

/* Projects */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
}

/* Projects - Column 1 */
.column .column-1 {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  height: 380px;
  width: 350px;
  border: none;
  padding-right: 10px;
  border-radius: 40px;
}

.column .column-1 img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

/* Projects - Column 2 */
.column .column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  max-width: 350px;
  border: dashed #444;
  border-radius: 40px;
  padding: 10px 20px;
}

.column-2 .about {
  height: 40%;
  font-size: 13.5px;
}

.column-2 h3 {
  padding: 20px 10px;
  margin-bottom: 10px;
  font-weight: bold;
  max-height: 15%;
}

.card-body .stack-container .stack {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 25%;
}


.card-body .stack-container .stack li {
  font-size: small;
  padding: 5px 5px;
  margin: 5px 5px;
  border: 1px solid #444;
  border-radius: 5px;
}

#demo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  max-height: 20%;
}

/* Resume Page*/
.resume-container {
  background: #f4f4f4;
  height: 70vh;
  width: 50vw;
  margin: 0 20px;
}

#resume-file {
  display: flex;
  justify-content: center;
}

/* Contact Page */
#contact {
  background-color: #f4f4f4;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 66vh;
}

.form-control input {
  width: 50vw;
  max-width: 600px;
  margin-bottom: 20px;
  height: 40px;
  border: #777 0.5px solid;
}

.form-control textarea {
  width: 50vw;
  border: #777 0.5px solid;
  max-width: 600px;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
  background: #444;
  color: #f4f4f4;
}

footer a {
  color: #fff;
  margin: 0 15px;
}

footer a:hover {
  color: #b1d0cd;
}

/* Mobile
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    height: 120px;
    padding: 0 0 20px 0;
  }

  .navbar a {
    padding: 10px 10px;
  }

  .column .column-1 {
    display: none;
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
  }

  .column .column-2 {
    width: 80vw;
    height: 380px;
  }
}

@media (min-width: 1000px) {
  h1,
  h2,
  h3 {
    padding: 10px 20px;
    font-weight: 300;
    line-height: 2;
  }
} */
