@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap");

html,
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#showcase {
  background: url("/img/john-towner-JgOeRuGD_Y4-unsplash\ \(1\).jpg") no-repeat
    center center/cover;
  height: 60vh;
}

/* Navbar */
.navbar {
  background: #333;
  color: #fff;
  z-index: 10;
  max-height: 6vh;
}

/* Projects */
.card-img-top {
  max-height: 20rem;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 20px;
  background: #444;
  color: #f4f4f4;
}

footer a {
  color: #444;
  margin: 0 15px;
  
}

footer a i {
  background: #fff;
  border: #fff solid;
  padding: 1rem;
  border-radius: 3rem;
}

footer i:hover {
  background: #777;
  border: #777 solid;
}

footer a:hover {
  color: #f4f4f4;
}

footer .footer-copyright {
  margin-top: 1rem;
}

