/* Buttons */
#buttons {
  display: flex;
  flex-direction: column;
  height: 2vh;
}

.btn-dark {
  font-size: 1.8vh;
  color: #fff;
  background: #333;
  padding: 13px 20px;
  margin: 10px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
}

.btn-dark:hover {
  color: #444;
  background: #b1d0cd;
  opacity: 0.8;
}

.btn-light {
  font-size: 1.7vh;
  color: #444;
  background: #b1d0cd;
  padding: 13px 20px;
  margin: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.btn-light:hover {
  color: #fff;
  background: #444;
}

/* Heading */

.header {
  font-size: 2.2vh;
  text-align: center;
  font-weight: bold;
  border: none;
  margin: 40px 0;
  background: #abb9b8;
  color: #333;
  border-radius: 10px;
}

.section-container {
  padding: 40px 100px;
  color: #333;
}

@media (max-width: 768px) {
  .section-container {
    padding-top: 100px;
  }
}
